@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: "Josefin Sans";
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* Utilities */

.container {
    max-width: 1100px;
    margin: auto;
}

.secondary-text {
    color: rgb(11, 120, 170);
}
.tertiary-text {
    color: coral
}

.background-blue {
    background-color: rgb(11, 120, 170);
    color: #d8cdcd;
}
.background-coral {
    background-color: coral;
}

    /* Flex Columns */
.flex-columns {
    display: flex;
    width: 100%;
    max-height: 90vh;
}

.flex-columns .column-1 {
    width: 50%;
}

.flex-columns .column-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.flex-columns .column-2 h2 {
    padding: 15px;
    margin: 20px;
}

.flex-columns .column-2 p {
    display: block;
    padding: 10px;
    margin: 10px;
}

.column-reverse {
    flex-direction: row-reverse;
}

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .row--hidden {
    display: none;
}

.flex-grid .column {
    display: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.flex-grid .column img {
    width: 100%;
    object-fit: cover;
    transition: 2s;
}

.section-padding {
    padding: 20px 20px 40px;
}

.section-header {
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;

    z-index: 3;
}
/* Buttons */

.btn {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #5fd499;
  padding: 10px;
  border: none;
  border-radius: 5px;
  z-index: 1;
}
.btn-blue {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: rgb(11, 120, 170);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}


/* Header/Nav Bar */

header {
    background-color: #5fd499;
    overflow: hidden;
    color: #fff;
    height: 70px;
    opacity: .8;
    float: top;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    margin-left: 10px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    list-style: none;
    display: block;
    padding: 20px;
}

.navbar li:hover {
    border-bottom: #333 solid 2px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
}

.flex-container a {
    color: #fff;
}

/* Showcase */

#showcase {
    background: url('./img/wurli-1.jpg') no-repeat center center/cover;
    height: 100vh;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    height: 100%;
    color: #fff;
    z-index: 1
}

.showcase-content h3,
.showcase-content p {
    margin-bottom: 10px;
    z-index: 1
}

#showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
  }

  /* Restoration */

#examples {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding-top: 70px;
}

#examples h2 {
    margin-bottom: 10px;
}

#examples img:hover {
    opacity: .7;
}

#examples .btn {
    margin-bottom: 20px;
}

@media (max-width:768px) {
    header {
        height: 170px;
    }
    
    .flex-container {
        flex-direction: column;
    }

    .logo {
        margin-top: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .navbar li {
        padding: .25rem;
    }

    .flex-columns {
        flex-direction: column;
    }

    .flex-columns .column-1,
    .flex-columns .column-2 {
        width: 100%;
    }

    .flex-columns .column-2 {
        padding: 2.5rem;
    }

    .nav a {
        border-bottom: rgb(11, 120, 170) solid 1px;
    }

    #examples {
        padding-top: 170px;
    }

    
}